/* Make Ticket Details scrollable */
.ticket-details-card {
    max-height: 300px; 
    overflow-y: auto; 
    padding: 15px;
    border: 1px solid #ddd; 
    margin-bottom: 20px; 
}


.place-of-issues-card {
    max-height: 300px; 
    overflow-y: auto; 
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 20px; 
}

.sticky-modal-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10; 
    padding: 10px; 
    border-bottom: 1px solid #ddd; 
}
